<template>
  <div>
    <h1>Товары</h1>
    <BInputGroup prepend="Кол-во строк таблицы">
      <BFormInput v-model="count"/>
    </BInputGroup>
    <BInputGroup prepend="Максимальная высота картинки">
      <BFormInput v-model="maxHeight"/>
    </BInputGroup>
    <b-pagination
      v-model="currentPage"
      :total-rows="list.length"
      :per-page="count"
      aria-controls="my-table"
    ></b-pagination>
    <BTable
      :items="list" :fields="fields"
      :per-page="count"
      :current-page="currentPage"
    >
      <template v-slot:cell(name)="data">
        <BFormInput
          v-model="data.item.name.ru"
          class="index-input"
          @change="editable.push(data.item.id)"
        />
        <BFormInput
          v-model="data.item.name.en"
          class="index-input"
          @change="editable.push(data.item.id)"
        />
      </template>
      <template v-slot:cell(about)="data">
        <BFormTextarea
          v-model="data.item.about.ru"
          class="index-input"
          rows="6"
          @change="editable.push(data.item.id)"
        />
        <BFormTextarea
          v-model="data.item.about.en"
          class="index-input"
          rows="6"
          @change="editable.push(data.item.id)"
        />
      </template>
      <template v-slot:cell(description)="data">
        <BFormTextarea
          v-model="data.item.description.ru"
          class="index-input"
          rows="6"
          @change="editable.push(data.item.id)"
        />
        <BFormTextarea
          v-model="data.item.description.en"
          class="index-input"
          rows="6"
          @change="editable.push(data.item.id)"
        />
      </template>
      <template v-slot:cell(metaDescription)="data">
        <BFormInput
          v-model="data.item.metaDescription.ru"
          class="index-input"
          @change="editable.push(data.item.id)"
        />
        <BFormInput
          v-model="data.item.metaDescription.en"
          class="index-input"
          @change="editable.push(data.item.id)"
        />
      </template>
      <template v-slot:cell(metaKeywords)="data">
        <BFormInput
          v-model="data.item.metaKeywords.ru"
          class="index-input"
          @change="editable.push(data.item.id)"
        />
        <BFormInput
          v-model="data.item.metaKeywords.en"
          class="index-input"
          @change="editable.push(data.item.id)"
        />
      </template>
      <template v-slot:cell(metaTitle)="data">
        <BFormInput
          v-model="data.item.metaTitle.ru"
          class="index-input"
          @change="editable.push(data.item.id)"
        />
        <BFormInput
          v-model="data.item.metaTitle.en"
          class="index-input"
          @change="editable.push(data.item.id)"
        />
        <BButton @click="parseMetaTitle(data)">
          Спарсить из name
        </BButton>
      </template>
      <template v-slot:cell(url)="data">
        <div>
          <BFormInput
            v-model="data.item.url"
            class="index-input"
            @change="editable.push(data.item.id)"
          />
        </div>
        <BButton @click="parseUrl(data)">
          Спарсить из name.en
        </BButton>
      </template>
      <template v-slot:cell(images)="data">
        <div >
          <BButton v-if="opened !== data.index" @click="opened = data.index"> > </BButton>
          <BButton v-else @click="opened = -1"> v </BButton>
          <div v-if="opened === data.index">
            <div
              v-for="(item, index) in data.item.images"
              :key="index"
              class="d-flex"
            >
              <img
                :src="`/api/storage/media/${item}`"
                :alt="item"
                style="flex-shrink: 0;"
              >
              <BButton variant="danger" size="sm" @click="removeImage(data, index)">X</BButton>
            </div>
            <BFormFile
              v-model="newFile"
              class="index-input"
              @input="addImage(data)"
            />
          </div>
        </div>
      </template>
      <template v-slot:cell(buttons)="data">
        <BButton :disabled="!editable.includes(data.item.id)" variant="success" @click="save(data)">
          Сохранить
        </BButton>
      </template>
    </BTable>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import {API} from '@/services/API';

function upload (file: File, height): Promise<{result: string; uuid: string}> {
  // const uuid = (+new Date()).toString(16)
  // const uuid = () => 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g,(c,r)=>('x'==с?(r=Math.random()*16|0):(r&0x3|0x8)).toString(16));
  const formData = new FormData()
  formData.append('file', file)
  formData.append('height', height)
  return API.post('/api/storage/upload-image', formData, {
    headers: {
      'Content-Type': 'multipart/form-data'
    }
  })
}

const snakeCase = string => {
  string = string.replace(/\W+/g, " ").toLowerCase().split(' ').join('_');

  if (string.charAt(string.length - 1) === '_') {
    return string.substring(0, string.length - 1);
  }

  return string;
}

export default Vue.extend({
  name: "Index",
  data: () => ({
    opened: -1,
    count: 10,
    maxHeight: 270,
    currentPage: 1,
    offset: 0,
    editable: [],
    list: [],
    newFile: '',
    fields: [
      {
        key: 'name'
      },
      {
        key: 'about'
      },
      {
        key: 'description'
      },
      {
        key: 'metaDescription'
      },
      {
        key: 'metaKeywords'
      },
      {
        key: 'metaTitle'
      },
      {
        key: 'url'
      },
      {
        key: 'images'
      },
      {
        key: 'buttons'
      }
    ]
  }),
  async created() {
    // await API.post('/auth/login', {
    //   "credits": "YWRtaW46YWRtaW4="
    // })
    try {
      await this.load();
    } catch (e) {
      await API.post('/auth/login', {
        "credits": "YWRtaW46YWRtaW4="
      })
      await this.load();
    }
  },
  methods: {
    async load() {
      const list = await API.get('/api/db/products', {
        params: {
          end: 999
        }
      });
      this.list = list.map(item => ({
        ...item,
        metaKeywords: {
          en: item.metaKeywords ? item.metaKeywords.en : '',
          ru: item.metaKeywords ? item.metaKeywords.ru : '',
        },
        metaDescription: {
          en: item.metaDescription ? item.metaDescription.en : '',
          ru: item.metaDescription ? item.metaDescription.ru : '',
        },
        metaTitle: {
          en: item.metaTitle ? item.metaTitle.en : '',
          ru: item.metaTitle ? item.metaTitle.ru : '',
        }
      }))
    },
    removeImage({item, index}, indexImage) {
      item.images.splice(indexImage, 1);
      this.editable.push(item.id);
    },
    async addImage({item, index}) {
      const {uuid} = await upload(this.newFile, this.maxHeight);
      item.images.push(uuid);
      this.editable.push(item.id);
      this.newFile = {}
    },
    async save({item, index}) {
      await API.put(`/api/db/products/${item.id}`, item)
      this.editable = this.editable.filter(it => it !== item.id);
    },
    parseUrl({item, index}) {
      item.url = snakeCase(item.name.en);
      this.editable.push(item.id);
    },
    parseMetaTitle({item, index}) {
      item.metaTitle.en = item.name.en;
      item.metaTitle.ru = item.name.ru;
      this.editable.push(item.id);
    }
  }
});
</script>

<style lang="scss">
  .index-input {
    flex-shrink: 0;
    width: 400px;
  }
</style>
