<template>
  <div id="app" class="app-wrapper">
    <div class="content" >
      <RouterView v-if="loaded" class="content-inner"/>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'App',
  data: () => ({
    loaded: false,
  }),
  async created() {
    // const serviceId = await currentUserApi.getCurrentService();
    // if(serviceId) {
    //   storage.serviceId = serviceId
    // }
    //
    // const project = await currentUserApi.getCurrentProject();
    // if (project) {
    //   storage.projectId = project.id
    // }

    this.loaded = true;
  },
})
</script>

<style>
  @import url("../node_modules/bootstrap/dist/css/bootstrap.css");

  .app-wrapper {
    /*background: #fffffb;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
  }

  .content {
    height: 100%;
    display: flex;
  }

  .content-menu {
    margin-right: 10px;
  }

  .content-inner {
    width: 100%;
  }

  .container {
    margin-top: 15px;
  }

  .pseudo-navbar {
    width: 50px;
  }

  .d-flex {
    display: flex;
  }
</style>
